/* Media queries para dispositivos pequeños (móviles) */
@media (max-width: 768px) {
    .logo {
        width: 30%; /* Más grande en dispositivos pequeños */
    }

    .nav-top {
        flex-direction: column;
        align-items: center;
    }

    .search {
        width: 90%; /* Aprovecha más espacio para la búsqueda */
    }

    .subnav .w li {
        margin-right: 10px; /* Menos margen entre elementos */
    }

    .subnav a {
        margin-left: 10px; /* Menos margen */
    }
}
