<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Mil Recetas!</title>

    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon"> 
    
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/media_index.css">

</head>

<body>
    
        <!-- header -start -->
        <div class="hea-nav">
            <header>
                <div class="header">
                    <h1 class="texto1">¡Bienvenido a Mil Recetas - Tu lugar favorito para encontrar las recetas que quieras!</h1>
                </div>
            </header>
        <!-- header end -->

        <!-- nav start -->
            <nav>
                <div class="nav-top">
                    <div class="search-wrap w">
                        <div class="logo">
                            <h1>Mil Recetas</h1>
                            <a href="index.html"><img src="../img/logo2.png" alt=""></a>
                        </div>
                        <div class="search">
                            <input type="text" placeholder="Busca la receta que necesitas..." id="user-input">
                        </div>
                        <div class="user">
                            <a id="user_icon" href="../templates/login.html">Ingresar / Registrarme</a>
                        </div>
                    </div>
                </div>
                <div class="subnav">
                    <ul class="w">
                        <li><a href="../index.html#floor_vegetariano"><b>Vegetariano</b></a></li>
                        <li><a href="../index.html#floor_tendencias"><b>Tendencias</b></a></li>                    
                        <li><a href="../index.html#floor_postres"><b>Postres</b></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- nav end -->

        <!-- main start -->
        <section>
            <div class="container">
            
                      
            </div>
        </section>
        <!-- main end -->

    <!-- footer start -->
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h2>Contacto</h2>
                <ul>
                    <li><img src="./img/Whatsapp.png" alt="WhatsApp icon" class="icon"> <a href="#">WhatsApp</a></li>
                    <li><img src="./img/redes_sociales.png" alt="Redes Sociales icon" class="icon"> <a href="#">Redes Sociales</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Categorías</h2>
                <ul>
                    <li><a href="../index.html#floor_vegetariano"><b>Vegetariano</b></a></li>
                    <li><a href="../index.html#floor_tendencias"><b>Tendencias</b></a></li>                    
                    <li><a href="../index.html#floor_postres"><b>Postres</b></a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Atención al Cliente</h2>
                <ul>
                    <li><a href="./templates/nosotros.html">Nosotros</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>© 2024 All rights reserved. Grupo 4. Trabajo en Grupo</p>
        </div>
    </footer>            
    <!-- footer end -->


    <script>

        // Función para cambiar el placeholder del buscador según el tamaño de la pantalla
        function updatePlaceholder() {
          var input = document.getElementById('user-input');
          if (window.innerWidth <= 500) {
            input.placeholder = "Buscar recetas...";  
          } else {
            input.placeholder = "Busca la receta que necesitas...";  
          }
        }
        window.onload = updatePlaceholder;
        window.onresize = updatePlaceholder;
      </script>
            
</body>
</html>