<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Mil Recetas!</title>

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/media_index.css">
    <link rel="stylesheet" href="../css/login.css">

</head>

<body>
    
        <!-- header -start -->
        <div class="hea-nav">
            <header>
                <div class="header">
                    <h1 class="texto1">¡Bienvenido a Mil Recetas - Tu lugar favorito para encontrar las recetas que quieras!</h1>
                </div>
            </header>
        <!-- header end -->

        <!-- nav start -->
            <nav>
                <div class="nav-top">
                    <div class="search-wrap w">
                        <div class="logo">
                            <h1>Mil Recetas</h1>
                            <a href="../index.html"><img src="../img/logo2.png" alt=""></a>
                        </div>
                        <div class="login">
                            <a href="./register.html"> Crear una cuenta</a>
                        </div>
                    </div>
                </div>

                <div class="subnav">
                </div>

            </nav>
        </div>
        <!-- nav end -->

        <!-- main start -->
        <section>
            <div class="container">
                <div class="login_hd">
                    <h3>Iniciar Sesión</h3>
                </div>

                <div class="login_bd">
                    <form>
                        <div class="email">
                            <label for="email">Correo electrónico</label>
                            <input type="text" id="email">
                        </div>
                        <div class="password">
                            <label for="password">Contraseña</label>
                            <input type="password" id="password">
                            <span class="eye"><img src="../img/close.png" id="eye" alt="close imagen"></span>
                        </div>
                        <div class="login-row">
                            <button class="login_btn" id="login_btn">Iniciar sesión</button>
                        </div>
                        <div id="error-message" class="error-message"></div> 
                    </form>
                </div>

                <div class="goto">
                    <a href="./register.html">¿Todavía no tienes una cuenta? <i>Ir a crear una cuenta</i></a>
                </div>
            </div>
        </section>
        <!-- main end -->

    <!-- footer start -->
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h2>Contacto</h2>
                <ul>
                    <li><img src="../img/Whatsapp.png" alt="WhatsApp icon" class="icon"> <a href="#">WhatsApp</a></li>
                    <li><img src="../img/redes_sociales.png" alt="Redes Sociales icon" class="icon"> <a href="#">Redes Sociales</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Categorías</h2>
                <ul>
                    <li><a href="../index.html#floor_vegetariano"><b>Vegetariano</b></a></li>
                    <li><a href="../index.html#floor_tendencias"><b>Tendencias</b></a></li>                    
                    <li><a href="../index.html#floor_postres"><b>Postres</b></a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Atención al Cliente</h2>
                <ul>
                    <li><a href="../templates/nosotros.html">Nosotros</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>© 2024 All rights reserved. Grupo 4. Trabajo en Grupo</p>
        </div>
    </footer>            
    <!-- footer end -->

    <script src="../js/login.js"></script>

    <script>

        // Función para cambiar el placeholder del buscador según el tamaño de la pantalla
        function updatePlaceholder() {
          var input = document.getElementById('user-input');
          if (window.innerWidth <= 500) {
            input.placeholder = "Buscar recetas...";  
          } else {
            input.placeholder = "Busca la receta que necesitas...";  
          }
        }
        window.onload = updatePlaceholder;
        window.onresize = updatePlaceholder;
      </script>
           
</body>
</html>
