<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Mil Recetas!</title>

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link rel="stylesheet" href="../css/media_index.css">

</head>

<body>
    
        <!-- header -start -->
        <div class="hea-nav">
            <header>
                <div class="header">
                    <h1 class="texto1">¡Bienvenido a Mil Recetas - Tu lugar favorito para encontrar las recetas que quieras!</h1>
                </div>
            </header>
        <!-- header end -->

        <!-- nav start -->
            <nav>
                <div class="nav-top">
                    <div class="search-wrap w">
                        <div class="logo">
                            <h1>Mil Recetas</h1>
                            <a href="../index.html"><img src="../img/logo2.png" alt=""></a>
                        </div>
                        <div class="search">
                            <input type="text" placeholder="Busca la receta que necesitas..." id="user-input">
                        </div>
                        <div class="user">
                            <a id="user_icon" href="../templates/login.html">Ingresar / Registrarme</a>
                        </div>
                    </div>
                </div>
                <div class="subnav">
                    <ul class="w">
                        <li><a href="../index.html"><b>Vegetariano</b></a></li>
                        <li><a href="../index.html"><b>Tendencias</b></a></li>                    
                        <li><a href="../index.html"><b>Postres</b></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- nav end -->
        
        <!-- section start -->
        <section>

            <div class="container">
                <div class="barra">
                    <div class="img_barra">
                        <a href="#nosotros">
                            <img src="../img/nosotros.png" alt="Nosotros logo" class="nosotros_logo">
                        </a>
                        <a class="title" href="#nosotros">Nosotros</a>
                    </div>
                    <div class="img_barra">
                        <a href="#ubicacion">
                            <img src="../img/lugar.png" alt="lugar logo" class="lugar_logo" >
                        </a>
                        <a class="title" href="#ubicacion">Ubicación</a>
                    </div>
                </div>
            </div>

            <hr class="linea_negra">

            <div class="container">

                <h1 class="title_nos" id="nosotros">Nosotros</h1>
                <p class="text_nos"><b>

                            Desde hace tiempo, en Mil Recetas nos hemos dedicado con pasión a compartir una amplia variedad de recetas que inspiran y deleitan a todos los amantes de la cocina. Nos enorgullece ofrecer un amplio abanico de opciones, desde sabrosas recetas vegetarianas hasta deliciosos postres que endulzan el paladar.

                            Nuestra misión es simple: hacer que cocinar sea una experiencia emocionante y gratificante para todos. Ya sea que estés buscando preparar una comida reconfortante para tu familia o sorprender a tus invitados con un plato innovador, en Mil Recetas encontrarás la inspiración que necesitas.
                    
                            En nuestra página, encontrarás recetas para todos los gustos y ocasiones. Desde platos clásicos que han resistido el paso del tiempo hasta las últimas tendencias culinarias que están causando sensación en la escena gastronómica. Nos esforzamos por ofrecer contenido diverso y accesible para que cualquier persona, sin importar su nivel de habilidad en la cocina, pueda disfrutar creando platos deliciosos.
                    
                            Además de las recetas, en Mil Recetas también encontrarás consejos útiles, trucos culinarios y recomendaciones de ingredientes para ayudarte a mejorar tus habilidades en la cocina y alcanzar resultados extraordinarios.
                    
                            Nos sentimos honrados de ser parte de tu viaje culinario y esperamos inspirarte a explorar nuevas recetas, experimentar con ingredientes frescos y, sobre todo, disfrutar del placer de cocinar y compartir una comida deliciosa con tus seres queridos.
                    
                            Gracias por elegir Mil Recetas. ¡Juntos, hagamos que cada comida sea una experiencia inolvidable!
                    
                            ¡Buen provecho!

                    </b></p>
                    <img src="../img/logo.png" alt="logo_nosotros" class="logo_nos">

            </div>

            <hr class="linea_negra">

            <div class="container">

                <h1 class="title_ubi" id="ubicacion">Ubicación</h1>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210147.47496040538!2d-58.59811041493593!3d-34.615430352200306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1714352874744!5m2!1ses-419!2sar"  class="maps_ubi" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </section>
        <!-- section end -->

        <!-- footer start -->
        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <h2>Contacto</h2>
                    <ul>
                        <li><img src="../img/Whatsapp.png" alt="WhatsApp icon" class="icon"> <a href="#">WhatsApp</a></li>
                        <li><img src="../img/redes_sociales.png" alt="Redes Sociales icon" class="icon"> <a href="#">Redes Sociales</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h2>Categorías</h2>
                    <ul>
                        <li><a href="#floor_vegetariano">Vegetariano</a></li>
                        <li><a href="#floor_tendencias">Tendencias</a></li>                    
                        <li><a href="#floor_postres">Postres</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h2>Atención al Cliente</h2>
                    <ul>
                        <li><a href="nosotros.html">Nosotros</a></li>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>© 2024 All rights reserved. Grupo 4. Trabajo en Grupo</p>
            </div>
        </footer>            
        <!-- footer end -->


        <script>
            // Función para cambiar el placeholder del buscador según el tamaño de la pantalla
            function updatePlaceholder() {
            var input = document.getElementById('user-input');
            if (window.innerWidth <= 500) {
                input.placeholder = "Buscar recetas...";  
            }     else {
                input.placeholder = "Busca la receta que necesitas...";  
            }
            }
            window.onload = updatePlaceholder;
            window.onresize = updatePlaceholder;
        </script>
            
</body>
</html>